{% extends 'base.html' %}
{% block title %}Devamsızlıklarım{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">Devamsızlıklarım</h2>

<table class="table table-bordered table-striped">
  <thead class="table-dark text-center">
    <tr>
      <th>Mazeret</th>
      <th>Tarih</th>
      <th>Gün Sayısı</th>
      <th>1. Dönem</th>
      <th>2. Dönem</th>
      <th>Yıl Sonu Toplam</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for dev in devamsizliklar %}
    <tr>
      <td>{{ dev.mazeret|title }}</td>
      <td>{{ dev.devamsizlik_tarihi|date:"d.m.Y" }}</td>
      <td>{{ dev.gun_sayisi|default:"-" }}</td>
      <td>{{ dev.donem1_devamsizlik|default:"-" }}</td>
      <td>{{ dev.donem2_devamsizlik|default:"-" }}</td>
      <td class="fw-bold text-danger">{{ dev.yil_toplam_devamsizlik|default:"-" }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center text-muted">Devamsızlık kaydınız bulunmamaktadır.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
